// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
$font-fredoka: 'Fredoka', sans-serif;

// Colors
$dark: #2e2e2e;
$primary: #748eff;
$dark-primary: #38458b;
$green: #68d160;
$orange: #dd5500;
$purple: #876eff;
$Black:#241F1F;
$LightSkyBlue:#748EFF;
$DarkRed:#9D0000;

// Sizes
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$offset: 187;
$duration: 1.4s;