@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: #f1f1f1;
  perspective: 1px;
  transform-style: preserve-3d;
}

main {
  overflow-x: hidden;
}

.planPoints {
  text-align: left;
  padding-left: 10px;
}
.planPoints li {
  position: relative;
}
.planPoints li::after {
  content: "✓";
  position: absolute;
  top: 0;
  left: -15px;
  font-weight: bold;
  color: #0d6efd;
}

.bold-40, header .navbar .navbar-brand h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  line-height: 52px;
  font-family: "Fredoka", sans-serif;
}
@media (max-width: 576px) {
  .bold-40, header .navbar .navbar-brand h1 {
    font-size: 32px;
    line-height: 38px;
  }
}

.std-16, header .navbar .navbar-collapse .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  font-family: "Fredoka", sans-serif;
}

.bold-48, section.add-store-section .store-add-contact .heading h2, section.hero-container .hero-wrapper .left-block .hero-content h2 {
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 56px;
  font-family: "Fredoka", sans-serif;
}
@media (max-width: 992px) {
  .bold-48, section.add-store-section .store-add-contact .heading h2, section.hero-container .hero-wrapper .left-block .hero-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  .bold-48, section.add-store-section .store-add-contact .heading h2, section.hero-container .hero-wrapper .left-block .hero-content h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  .bold-48, section.add-store-section .store-add-contact .heading h2, section.hero-container .hero-wrapper .left-block .hero-content h2 {
    font-size: 32px;
    line-height: 38px;
  }
}

.bold-28, section .heading h3 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  font-family: "Fredoka", sans-serif;
}
@media (max-width: 576px) {
  .bold-28, section .heading h3 {
    font-size: 24px;
    line-height: 28px;
  }
}

.bold-30, section.contact-hero-section .right-block .top-content .heading h1, section .heading h2 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  font-family: "Fredoka", sans-serif;
}
@media (max-width: 576px) {
  .bold-30, section.contact-hero-section .right-block .top-content .heading h1, section .heading h2 {
    font-size: 28px;
    line-height: 34px;
  }
}

.std-20, footer .copyright p, section .content p, .std-btn, .std-btn-full {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: 32px;
  font-family: "Fredoka", sans-serif;
}
@media (max-width: 576px) {
  .std-20, footer .copyright p, section .content p, .std-btn, .std-btn-full {
    font-size: 16px !important;
    line-height: 30px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.std-btn, .std-btn-full {
  height: 60px;
  border-radius: 6px;
  border-color: #2e2e2e;
  color: #2e2e2e;
  text-transform: uppercase;
  padding: 16px 20px;
  outline: none;
  box-shadow: none !important;
}
.std-btn:hover, .std-btn-full:hover {
  color: #fff;
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}
@media (max-width: 768px) {
  .std-btn, .std-btn-full {
    height: 50px;
    padding: 10px 20px;
  }
}
@media (max-width: 576px) {
  .std-btn, .std-btn-full {
    padding: 9px 20px;
    height: 40px;
  }
}

.std-btn-full {
  background-color: #748eff;
  color: #fff;
  border-color: #748eff;
}
.std-btn-full:hover {
  background-color: transparent;
  color: #748eff;
  border-color: #748eff;
}

@media (max-width: 768px) {
  section.cc-repair-section .container-lg {
    flex-direction: column;
  }
}

section {
  position: relative;
  padding: 70px 0px;
  z-index: 1;
  background-color: #f1f1f1;
}
@media (max-width: 992px) {
  section {
    padding: 50px 0px;
  }
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  section {
    padding: 40px 0px;
  }
}
section .heading {
  margin-bottom: 45px;
}
@media (min-width: 992px) {
  span.line-break {
    display: block;
  }
}

@keyframes typewriter {
  20% {
    left: 100%;
  }
  90% {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
header .navbar {
  height: 80px;
}
header .navbar .navbar-brand {
  display: flex;
  align-items: center;
}
header .navbar .navbar-brand img {
  width: 35px;
  height: auto;
}
@media (max-width: 576px) {
  header .navbar .navbar-brand img {
    width: 28px;
  }
}
header .navbar .navbar-brand h1 {
  color: #748eff;
  margin-bottom: 0;
  margin-left: 10px;
}
header .navbar .navbar-collapse {
  z-index: 10;
  background-color: #f1f1f1;
}
@media (max-width: 576px) {
  header .navbar .navbar-collapse.show {
    box-shadow: 0px 4px 4px -1px #d1d1d1;
  }
}
@media (max-width: 576px) {
  header .navbar .navbar-collapse .navbar-nav {
    padding: 10px 12px;
  }
}
@media (max-width: 576px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item {
    margin: 6px 0px;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-item.btn-item {
  margin-left: 30px;
}
@media (max-width: 768px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item.btn-item {
    margin-left: 15px;
  }
}
@media (max-width: 576px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item.btn-item {
    margin-left: 0px;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-link {
  color: #2e2e2e;
}
header .navbar .navbar-collapse .navbar-nav .nav-link.btn {
  padding: 8px 20px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #fff;
  background-color: #748eff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  padding: 10px;
}
footer .copyright {
  text-align: center;
}
footer .copyright p {
  font-size: 18px;
  color: #fff;
}
footer .copyright p:last-child a {
  color: #fff !important;
  text-decoration: none;
}
footer .copyright p:last-child a:hover {
  color: #748eff !important;
}

section.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px;
  z-index: 2;
}
section.hero-container .hero-wrapper .left-block {
  margin: 30px 0px;
}
@media (max-width: 576px) {
  section.hero-container .hero-wrapper .left-block {
    margin: 10px 0px;
  }
}
section.hero-container .hero-wrapper .left-block .hero-content h2 {
  font-weight: normal;
  color: #2e2e2e;
}
section.hero-container .hero-wrapper .left-block .hero-content h2 .bold {
  font-weight: 600;
}
@media (min-width: 768px) {
  section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.special-text {
    position: relative;
  }
  section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.special-text::before, section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.special-text::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.special-text::before {
    background: #f1f1f1;
    animation: typewriter 5s steps(8) infinite forwards;
  }
  section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.special-text::after {
    width: 3.5px;
    background: black;
    animation: typewriter 5s steps(8) infinite forwards, blink 750ms steps(8) infinite;
  }
}
section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.green {
  color: #68d160;
}
section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.orange {
  color: #dd5500;
}
section.hero-container .hero-wrapper .left-block .hero-content h2 .bold.primary {
  color: #876eff;
}
section.hero-container .hero-wrapper .left-block .hero-content .hero-btn {
  margin-top: 35px;
}
section.hero-container .hero-wrapper .right-block img {
  max-width: 100%;
  height: auto;
}
section.intro-section {
  transform-style: inherit;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
section.intro-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../images/intro-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.intro-section .heading h2 {
  color: #fff;
}
section.intro-section .content p {
  color: #fff;
}
@media (max-width: 768px) {
  section.process-section .process-wrapper {
    text-align: center;
  }
}
section.process-section .process-wrapper .heading h2 {
  color: #748eff;
}
section.process-section .process-wrapper .heading h3 {
  color: #2e2e2e;
}
section.process-section .process-wrapper .video-container {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 20px #748eff;
  margin-bottom: 45px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
section.process-section .process-wrapper .video-container video {
  max-width: 100%;
  border-radius: 20px;
}
@media (max-width: 768px) {
  section.process-section .process-wrapper .video-container {
    width: auto;
  }
}
section.process-section .process-wrapper .content p {
  color: #2e2e2e;
}
section.process-section .process-wrapper .process-steps .step {
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  section.process-section .process-wrapper .process-steps .step {
    margin-bottom: 30px;
  }
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:last-child div .image-wrapper {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 20px #748eff;
  display: inline-block;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:last-child div .image-wrapper .image {
  padding-right: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:last-child div .image-wrapper .image::-webkit-scrollbar {
  width: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:last-child div .image-wrapper .image::-webkit-scrollbar-track {
  background-color: white !important;
  border-radius: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:last-child div .image-wrapper .image::-webkit-scrollbar-thumb {
  background-color: #748eff;
  border-radius: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:first-child div .image-wrapper {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 20px #748eff;
  display: inline-block;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:first-child div .image-wrapper .image {
  padding-right: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:first-child div .image-wrapper .image::-webkit-scrollbar {
  width: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:first-child div .image-wrapper .image::-webkit-scrollbar-track {
  background-color: white !important;
  border-radius: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .row div:first-child div .image-wrapper .image::-webkit-scrollbar-thumb {
  background-color: #748eff;
  border-radius: 10px;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .heading {
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  section.process-section .process-wrapper .process-steps .step .step-wrapper .heading {
    margin-bottom: 6px;
  }
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .content {
  padding-right: 15px;
}
@media (max-width: 768px) {
  section.process-section .process-wrapper .process-steps .step .step-wrapper .content {
    padding-bottom: 15px;
  }
}
@media (max-width: 576px) {
  section.process-section .process-wrapper .process-steps .step .step-wrapper .content {
    padding-right: 0px;
  }
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .image {
  text-align: center;
  height: 600px;
  overflow-y: scroll;
}
section.process-section .process-wrapper .process-steps .step .step-wrapper .image img {
  max-width: 100%;
  height: auto;
}
section.stores-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../images/stores-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.stores-section .stores-list-wrapper {
  text-align: center;
}
section.stores-section .stores-list-wrapper .heading {
  margin-bottom: 30px;
}
section.stores-section .stores-list-wrapper .heading h3 {
  color: #fff;
}
section.stores-section .stores-list-wrapper .stores-list .images {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
@media (max-width: 576px) {
  section.stores-section .stores-list-wrapper .stores-list .images {
    justify-content: flex-start;
  }
}
section.stores-section .stores-list-wrapper .stores-list .images::-webkit-scrollbar {
  height: 5px;
}
section.stores-section .stores-list-wrapper .stores-list .images::-webkit-scrollbar-track {
  background: transparent;
}
section.stores-section .stores-list-wrapper .stores-list .images::-webkit-scrollbar-thumb {
  background: #38458b;
  border-radius: 10px;
}
section.stores-section .stores-list-wrapper .stores-list .images img {
  padding: 0px 5px;
}
section.add-store-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../images/stores-bg-trans.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.add-store-section .store-add-contact {
  text-align: center;
}
section.cc-repair-section {
  background-color: white;
  text-align: center;
  color: #748eff;
}
section.cc-repair-section .img-container {
  padding: 10px;
  display: inline-block;
  box-shadow: 0px 0px 20px #748eff;
  overflow: hidden;
  border-radius: 20px;
  margin: 10px;
}
section.cc-repair-section .img-container img {
  width: 700px;
  max-width: 100%;
}
section.cc-repair-section .container {
  margin-top: 30px;
}
section.cc-repair-section .container .repair-container .content {
  margin-bottom: 30px;
}
section.cc-repair-section .container .repair-container .contact-btn a {
  background-color: white !important;
  border-radius: 50px;
  color: #748eff;
  display: inline-flex;
  align-items: center;
  border: 1px solid #748eff;
  font-family: "Fredoka", sans-serif;
}
section.cc-repair-section .container .repair-container .contact-btn a span {
  font-size: 18px;
  margin-left: 10px;
}
section.cc-repair-section .container .repair-container .contact-btn a:hover {
  background-color: #748eff !important;
  border-color: #748eff !important;
  color: white !important;
}

.spinner-body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
section.contact-hero-section .left-block .image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  section.contact-hero-section .right-block {
    margin-top: 30px;
  }
}
section.contact-hero-section .right-block .top-content {
  margin-bottom: 40px;
}
section.contact-hero-section .right-block .top-content .heading {
  margin-bottom: 25px;
}
section.contact-hero-section .right-block .top-content .heading h1 {
  color: #2e2e2e;
  font-weight: bold;
}
section.contact-hero-section .right-block .top-content .content p {
  color: #2e2e2e;
}
section.contact-hero-section .right-block .contact-form .form-heading {
  margin-bottom: 20px;
}
section.contact-hero-section .right-block .contact-form .iti__flag-container {
  width: 100%;
}
section.contact-hero-section .right-block .contact-form .iti__flag-container .iti__selected-flag {
  background-color: transparent;
  justify-content: center;
}
section.contact-hero-section .right-block .contact-form .mode-form-group label:not(.error) {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #94a3b8;
  margin: 0;
}
section.contact-hero-section .right-block .contact-form .mode-form-group label:not(.error) {
  position: absolute;
  background-color: white;
  top: 14px;
  left: 15px;
  z-index: 10;
  padding: 0px 5px;
  cursor: text;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
section.contact-hero-section .right-block .contact-form .mode-form-group label:not(.error)::before {
  content: "";
  width: 100%;
  height: 0px;
  background-color: #fff;
  display: block;
  top: 7px;
  left: 0px;
  z-index: -1;
  position: absolute;
}
section.contact-hero-section .right-block .contact-form .mode-form-group input,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea {
  border: 1px solid #94a3b8;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 10px 15px;
  width: 100%;
  height: 50px;
}
section.contact-hero-section .right-block .contact-form .mode-form-group input:focus-visible, section.contact-hero-section .right-block .contact-form .mode-form-group input:focus,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea:focus-visible,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
section.contact-hero-section .right-block .contact-form .mode-form-group input::placeholder,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea::placeholder {
  opacity: 0;
}
section.contact-hero-section .right-block .contact-form .mode-form-group input.error,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea.error {
  border: 1px solid red !important;
}
section.contact-hero-section .right-block .contact-form .mode-form-group input:focus ~ label:not(.error),
section.contact-hero-section .right-block .contact-form .mode-form-group textarea:focus ~ label:not(.error),
section.contact-hero-section .right-block .contact-form .mode-form-group input:not(:placeholder-shown) ~ label:not(.error),
section.contact-hero-section .right-block .contact-form .mode-form-group textarea:not(:placeholder-shown) ~ label:not(.error) {
  background-color: transparent;
  top: -12px;
  left: 8px;
  font-weight: 500;
  color: black;
  font-size: 15px;
}
section.contact-hero-section .right-block .contact-form .mode-form-group input:focus ~ label:not(.error)::before,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea:focus ~ label:not(.error)::before,
section.contact-hero-section .right-block .contact-form .mode-form-group input:not(:placeholder-shown) ~ label:not(.error)::before,
section.contact-hero-section .right-block .contact-form .mode-form-group textarea:not(:placeholder-shown) ~ label:not(.error)::before {
  height: 10px;
}
section.contact-hero-section .right-block .contact-form .form-group {
  position: relative;
  margin-bottom: 5px;
}
section.contact-hero-section .right-block .contact-form .form-group .country-code .form-group {
  z-index: 12;
}
section.contact-hero-section .right-block .contact-form .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
section.contact-hero-section .right-block .contact-form .error-message,
section.contact-hero-section .right-block .contact-form label.error {
  height: 20px;
  font-size: 13px;
  color: red;
  font-weight: 600;
}
section.contact-hero-section .right-block .contact-form label.error {
  position: absolute;
  left: 0;
}
section.contact-hero-section .right-block .contact-form .form-control {
  border: 1px solid #94a3b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
  font-size: 16px;
}
section.contact-hero-section .right-block .contact-form .form-control.tel {
  width: 0;
  padding-left: 85px !important;
}
section.contact-hero-section .right-block .contact-form .send-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.contact-hero-section .right-block .contact-form .send-btn .btn .icon {
  height: 30px;
  margin-left: 10px;
}
section.contact-hero-section .right-block .contact-form .send-btn .btn .icon svg path {
  fill: #fff;
  transition: fill 0.15s;
}
section.contact-hero-section .right-block .contact-form .send-btn .btn:hover svg path {
  fill: #748eff;
}
section.contact-hero-section .right-block .contact-form .captcha {
  margin-top: 25px;
}
section.contact-hero-section .right-block .contact-form .captcha p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
  color: #989898;
}

body {
  font-family: "Fredoka", sans-serif;
}
body .pricing-table-container {
  padding: 0px 0px 70px 0px;
}
body .pricing-table-container .new_pricing_table_2020_12 {
  background-color: white;
  max-width: 1500px;
  margin: 0 auto;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container {
  border-radius: 5px;
  border: 2px solid #b7b7b7;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  body .pricing-table-container .new_pricing_table_2020_12 .table_container {
    overflow-x: auto;
  }
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table {
  margin: -1px 0 -1px -1px;
  width: calc(100% + 2px);
  overflow: hidden;
  border-collapse: collapse;
  font-size: 1em;
}
@media (max-width: 768px) {
  body .pricing-table-container .new_pricing_table_2020_12 .table_container table {
    width: 1250px !important;
  }
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr.section_divider td {
  font-weight: 700;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td {
  padding: 15px;
  text-align: center !important;
  vertical-align: middle;
  border: 1px solid #b7b7b7;
}
@media (max-width: 768px) {
  body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header {
    width: 300px !important;
  }
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .api_quota span {
  padding: 5px 15px;
  box-shadow: 0px 0px 5px 0px #748eff;
  border-radius: 5px;
  background: #f1f1f1;
  display: inline-block;
  width: 60px;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td:first-child {
  text-align: left !important;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td em {
  border-bottom: 1px dashed #000;
  font-style: normal;
  cursor: pointer;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .all_plans p {
  padding-top: 5px;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .all_plans p .general_check {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: green;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  font-size: 12px;
  display: inline-block;
  font-weight: 700;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .all_plans p .after_check {
  top: 1px;
  position: relative;
  padding-left: 8px;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header {
  width: 22vw;
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_name {
  font-weight: 700;
  font-size: 1.3em;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_price .the_price_container {
  display: inline-block;
  position: relative;
  font-size: 2.5em;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_price .the_price_container .the_dollar_sign {
  position: absolute;
  left: -10px;
  top: 8px;
  font-size: 0.5em;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_price .price_per {
  font-size: 0.8em;
  margin-top: -10px;
  opacity: 0.5;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_cta {
  margin: 1em 0;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_cta .bigbutton.small_block {
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 1.2em;
  line-height: 1.2em;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 #000;
  border-radius: 5px;
  background: #748eff;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_cta .bigbutton.small_block::after {
  content: "";
  width: 1em;
  height: 1em;
  margin: 0 0 0 0.2em;
  top: 0.1em;
  position: relative;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
  background-size: contain;
  display: inline-block;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .plan_header .plan_cta .bigbutton.small_block:hover {
  top: 4px;
  left: 4px;
  box-shadow: 1px 1px 0 #000 !important;
  transition-property: box-shadow, top, left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td span.general_check {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: green;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  font-size: 12px;
  display: inline-block;
  font-weight: 700;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td span.general_check.false {
  background-color: red;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .select select {
  border: 2px solid #000;
  padding-right: 2.5em;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
  background-color: #fff;
  border-radius: 4px;
  color: #363636;
  -webkit-appearance: none;
  box-shadow: none;
  height: 2.5em;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}
body .pricing-table-container .new_pricing_table_2020_12 .table_container table tr td .select::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
  border-color: #748eff;
  right: 1.125em;
  z-index: 4;
}
body .faq-container .big_text {
  text-align: center;
}
body .faq-container .big_text h2 {
  font-size: 2.7em;
  line-height: 1.1em;
  font-weight: 800;
  padding-bottom: 0.5em;
  letter-spacing: -0.03em;
}
body .faq-container .big_text p {
  padding-top: 0px;
  font-size: 1.5em;
}
body .faq-container .big_text .cta .faq_container {
  text-align: left;
}
body .faq-container .big_text .cta .faq_container .faq_section_title {
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.2em;
  font-weight: 700;
  padding: 12px 0;
}
body .faq-container .big_text .cta .faq_container .faq_item {
  font-size: 1.2em;
  border-bottom: 1px solid #b7b7b7;
  padding: 12px 0;
}
body .faq-container .big_text .cta .faq_container .faq_item .question {
  color: #007aff;
  cursor: pointer;
}
body .faq-container .big_text .cta .faq_container .faq_item .answer {
  display: none;
  color: #2e2e2e;
}
body .faq-container .big_text .cta .faq_container .faq_item .answer a {
  font-size: 14px;
  color: #007aff;
  text-decoration: none;
}
body .faq-container .big_text .cta .faq_container .faq_section_title {
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.2em;
  font-weight: 700;
  padding: 12px 0;
  margin-top: 2em;
}
body .py-60 {
  background: #f3f3f3;
}
body .py-60 h2 {
  font-size: 32px;
  color: #000;
  line-height: 1.25;
  text-transform: uppercase;
}
body .py-60 .text-control-1 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
body .py-60 .text-control-1 h2 {
  margin-bottom: 20px;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion .question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease-in-out;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion .question-wrapper .q-mark {
  font-family: Roboto-bold;
  color: #748eff;
  padding: 18px 0 18px 18px;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion .question-wrapper .material-icons.drop {
  padding: 20px;
  font-size: 1rem;
  color: #748eff;
  transition: transform 0.5s ease-in-out;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion .question-wrapper .question {
  font-size: 20px;
  color: #5c5c5c;
  line-height: 1.5;
  padding: 20px;
  margin-bottom: 0;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion .answer-wrapper {
  display: none;
}
body .py-60 .text-control-1 .faqs-section .faq.accordion .answer-wrapper .answer {
  font-size: 16px;
  color: #5c5c5c;
  padding: 16px;
  padding-left: 52px;
  padding-bottom: 32px;
  background-color: #fff;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  body .py-60 {
    padding: 52px 0;
  }
}
@media only screen and (max-width: 768px) {
  body h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  body .text-control-1 h2 {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 768px) {
  body .accordion {
    margin-bottom: 16px;
  }
}
body .icon-expend {
  transform: rotateX(180deg);
  transition: transform 0.75s ease-in-out;
}
body .active,
body .accordion:hover .question-wrapper {
  background-color: #ebebeb;
}
body .active p,
body .accordion:hover .question-wrapper p {
  color: #3d3d3d;
}
@media only screen and (min-width: 768px) {
  body .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 992px) {
  body .container {
    max-width: 1144px;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_password_main_section, .profile_page {
  height: calc(100vh - 164px);
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.panel-default {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 20px #748eff;
  width: 500px;
}

@media (max-width: 767px) {
  .panel-default {
    width: auto;
    max-width: 500px;
  }
}
.plan-details {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.plan-details .plan-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.plan-details .plan-status span:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  color: #000;
  margin-bottom: 5px;
}
.plan-details .plan-status span:last-child {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  color: #748EFF;
}
.plan-details .clicks-status {
  min-width: 200px;
  width: 200px;
}
.plan-details .clicks-status .clicks-info {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  flex-direction: column;
}
.plan-details .clicks-status .clicks-info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plan-details .clicks-status .clicks-info div span:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  color: #000;
}
.plan-details .clicks-status .clicks-info div span:last-child {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #241F1F;
}
.plan-details .clicks-status .expired-info span {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  color: #000;
}
.plan-details .clicks-status .expired-info span .expired-date {
  font-weight: 900;
}

.plan-btns {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-btns .plan-cancel-status {
  margin: 0px !important;
  display: none;
}
.plan-btns #cancel_btn {
  margin-right: 10px;
}
.plan-btns #cancel_btn_cntnr {
  display: flex;
  align-items: center;
}
.plan-btns #cancel_btn_cntnr .btn {
  height: 50px;
  width: 195px;
  border-radius: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  border: none;
  border: 3px solid #9D0000;
  background-color: white;
  color: #9D0000;
  text-transform: uppercase;
}
.plan-btns div:last-child a {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #748eff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8499f6;
}

/*# sourceMappingURL=main.css.map */
