section{
    &.contact-hero-section {
        .left-block {
            .image {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .right-block {
            @include max-media($lg) {
                margin-top: 30px;
            }
            .top-content {
                margin-bottom: 40px;
                .heading {
                    margin-bottom: 25px;
                    h1 {
                        color: $dark;
                        @extend .bold-30;
                        font-weight: bold;
                    }
                }
                .content {
                    p {
                        color: $dark;
                    }
                }
            }
            .contact-form {
                .form-heading {
                    margin-bottom: 20px;
                }
                .iti__flag-container {
                    width: 100%;
                    
                    .iti__selected-flag {
                        background-color: transparent;
                        justify-content: center;
                    }
                }
                .mode-form-group {
            
                    label:not(.error) {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: normal;
                        color: #94a3b8;
                        margin: 0;
                    }
                
                    label:not(.error) {
                        position: absolute;
                        background-color: white;
                        top: 14px;
                        left: 15px;
                        z-index: 10;
                        padding: 0px 5px;
                        cursor: text;
                        -webkit-transition: all 0.15s;
                        -moz-transition: all 0.15s;
                        -o-transition: all 0.15s;
                        transition: all 0.15s;
                
                        &::before {
                            content: "";
                            width: 100%;
                            height: 0px;
                            background-color: #fff;
                            display: block;
                            top: 7px;
                            left: 0px;
                            z-index: -1;
                            position: absolute;
                        }
                    }
                
                    input,
                    textarea {
                        border: 1px solid #94a3b8;
                        outline: none;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        display: block;
                        padding: 10px 15px;
                        width: 100%;
                        height: 50px;
                
                        &:focus-visible,
                        &:focus {
                            outline: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            box-shadow: none;
                        }
                
                        &::placeholder {
                            opacity: 0;
                        }
            
                        &.error {
                            border: 1px solid red !important;
                        }
                    }
                
                    input:focus ~ label:not(.error),
                    textarea:focus ~ label:not(.error),
                    input:not(:placeholder-shown) ~ label:not(.error),
                    textarea:not(:placeholder-shown) ~ label:not(.error) {
                        background-color: transparent;
                        top: -12px;
                        left: 8px;
                        font-weight: 500;
                        color: black;
                        font-size: 15px;
                
                        &::before {
                            height: 10px;
                        }
                    }
                }
                
                .form-group {
                    position: relative;
                    margin-bottom: 5px;

                    .country-code .form-group {
                        z-index: 12;
                    }
                
                    .form-control {
                        &:focus {
                            outline: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            box-shadow: none;
                        }
                    }
                }
                .error-message,
                label.error {
                    height: 20px;
                    font-size: 13px;
                    color: red;
                    font-weight: 600;
                }
                
                label.error {
                    position: absolute;
                    left: 0;
                }
                
                .form-control {
                    border: 1px solid #94a3b8;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    height: 50px;
                    font-size: 16px;

                    &.tel {
                        width: 0;
                        padding-left: 85px !important;
                    }
                }
                .send-btn {
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon {
                            height: 30px;
                            margin-left: 10px;
                            svg path {
                                fill: #fff;
                                transition: fill .15s;
                            }
                        }
                        &:hover{
                            svg path{
                                fill: $primary;
                            }
                        }
                    }
                }
                .captcha {
                    margin-top: 25px;
                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 28px;
                        color: #989898;
                    }
                }
            }
        }
    }
}
body{
    font-family: "Fredoka", sans-serif;
    .pricing-table-container {
        padding: 0px 0px 70px 0px;
        .new_pricing_table_2020_12 {
            background-color: white;
            max-width: 1500px;
            margin: 0 auto;
            .table_container {
                border-radius: 5px;
                border: 2px solid #b7b7b7;
                overflow: hidden;
                position: relative;
                table {
                    margin: -1px 0 -1px -1px;
                    width: calc(100% + 2px);
                    overflow: hidden;
                    border-collapse: collapse;
                    font-size: 1em;
                    tr{
                        &.section_divider{
                            td{
                                font-weight: 700;
                            }
                        }
                        td{
                            .api_quota{
                                span{
                                    padding: 5px 15px;
                                    box-shadow: 0px 0px 5px 0px #748eff;
                                    border-radius: 5px;
                                    background: #f1f1f1;
                                    display:inline-block;
                                    width: 60px;
                                }
                            }
                            &:first-child{
                                text-align: left !important;
                            }
                            em{
                                border-bottom: 1px dashed #000;
                                font-style: normal;
                                cursor: pointer;
                            }
                            padding: 15px;
                            text-align: center!important;
                            vertical-align: middle;
                            border: 1px solid #b7b7b7;
                            .all_plans{
                                p{
                                    padding-top: 5px;
                                    .general_check{
                                        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                                        background: green;
                                        color: #fff;
                                        width: 20px;
                                        height: 20px;
                                        text-align: center;
                                        line-height: 20px;
                                        border-radius: 30px;
                                        font-size: 12px;
                                        display: inline-block;
                                        font-weight: 700;
                                    }
                                    .after_check{
                                        top: 1px;
                                        position: relative;
                                        padding-left: 8px;
                                    }
                                }
                            }
                            .plan_header{
                                width: 22vw;
                                max-width: 300px;
                                margin: 0 auto;
                                padding: 0 20px;
                                .plan_name{
                                    font-weight: 700;
                                    font-size: 1.3em;
                                }
                                .plan_price{
                                    .the_price_container{
                                        display: inline-block;
                                        position: relative;
                                        font-size: 2.5em;
                                        .the_dollar_sign{
                                            position: absolute;
                                            left: -10px;
                                            top: 8px;
                                            font-size: .5em;
                                        }
                                    }
                                    .price_per{
                                        font-size: .8em;
                                        margin-top: -10px;
                                        opacity: .5;
                                    }
                                }
                                .plan_cta{
                                    margin: 1em 0;
                                    .bigbutton.small_block{
                                        text-align: center;
                                        display: block;
                                        width: 100%;
                                        padding: 20px 0;
                                        font-size: 1.2em;
                                        line-height: 1.2em;
                                        border: 2px solid #000;
                                        box-shadow: 3px 3px 0 #000;
                                        border-radius: 5px;
                                        background: #748eff;
                                        color: #000;
                                        cursor: pointer;
                                        text-decoration: none;
                                        position: relative;
                                        top: 0;
                                        left: 0;
                                        &::after{
                                            content: "";
                                            width: 1em;
                                            height: 1em;
                                            margin: 0 0 0 0.2em;
                                            top: 0.1em;
                                            position: relative;
                                            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
                                            background-size: contain;
                                            display: inline-block;
                                        }
                                        &:hover{
                                            top: 4px;
                                            left: 4px;
                                            box-shadow: 1px 1px 0 #000!important;
                                            transition-property: box-shadow,top,left;
                                            transition-duration: .3s;
                                            transition-timing-function: ease-in-out;
                                        }
                                    }
                                }
                            }
                            span.general_check {
                                font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                                background: green;
                                color: #fff;
                                width: 20px;
                                height: 20px;
                                text-align: center;
                                line-height: 20px;
                                border-radius: 30px;
                                font-size: 12px;
                                display: inline-block;
                                font-weight: 700;
                            }
                            span.general_check.false{
                                background-color: red;
                            }
                            .select{
                                display: inline-block;
                                max-width: 100%;
                                position: relative;
                                vertical-align: top;
                                select{
                                    border: 2px solid #000;
                                    padding-right: 2.5em;
                                    cursor: pointer;
                                    display: block;
                                    font-size: 1em;
                                    max-width: 100%;
                                    outline: 0;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    color: #363636;
                                    -webkit-appearance: none;
                                    box-shadow: none;
                                    height: 2.5em;
                                    line-height: 1.5;
                                    padding-bottom: calc(0.5em - 1px);
                                    padding-left: calc(0.75em - 1px);
                                    padding-top: calc(0.5em - 1px);
                                    position: relative;
                                    vertical-align: top;
                                }
                                &::after{
                                    border: 3px solid transparent;
                                    border-radius: 2px;
                                    border-right: 0;
                                    border-top: 0;
                                    content: " ";
                                    display: block;
                                    height: 0.625em;
                                    margin-top: -0.4375em;
                                    pointer-events: none;
                                    position: absolute;
                                    top: 50%;
                                    transform: rotate(-45deg);
                                    transform-origin: center;
                                    width: 0.625em;
                                    border-color: #748eff;
                                    right: 1.125em;
                                    z-index: 4;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
    .faq-container{
        .big_text{
            text-align: center;
            h2{
                font-size: 2.7em;
                line-height: 1.1em;
                font-weight: 800;
                padding-bottom: 0.5em;
                letter-spacing: -.03em;
            }
            p{
                padding-top: 0px;
                font-size: 1.5em;
            }
            .cta{
                .faq_container{
                    text-align: left;
                    .faq_section_title{
                        border-bottom: 1px solid #b7b7b7;
                        font-size: 1.2em;
                        font-weight: 700;
                        padding: 12px 0;
                    }
                    .faq_item{
                        font-size: 1.2em;
                        border-bottom: 1px solid #b7b7b7;
                        padding: 12px 0;
                        .question{
                            color: #007aff;
                            cursor: pointer;
                        }
                        .answer{
                            display: none;
                            color: #2e2e2e;
                            a{
                                font-size: 14px;
                                color: #007aff;
                                text-decoration: none;
                            }
                        }
                    }
                    .faq_section_title {
                        border-bottom: 1px solid #b7b7b7;
                        font-size: 1.2em;
                        font-weight: 700;
                        padding: 12px 0;
                        margin-top: 2em;
                    }
                }
            }
        }
    }  
    .py-60{
        background: #f3f3f3;
        h2{
            font-size: 32px;
            color: #000;
            line-height: 1.25;
            text-transform: uppercase;
        }
        .text-control-1{
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            h2{
                margin-bottom: 20px;
            }
            .faqs-section{
                .faq.accordion{
                    background-color: #fff;
                    color: #444;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 20px;
                    text-align: left;
                    border: none;
                    outline: none;
                    transition: 0.4s;
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
                    border-radius: 4px;
                    .question-wrapper{
                        .q-mark{
                            font-family: Roboto-bold;
                            color: #748eff;
                            padding: 18px 0 18px 18px;
                        }
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: background-color 0.25s ease-in-out;
                        .material-icons.drop{
                            padding: 20px;
                            font-size: 1rem;
                            color: #748eff;
                            transition: transform 0.5s ease-in-out;
                        }
                        .question{
                            font-size: 20px;
                            color: #5c5c5c;
                            line-height: 1.5;
                            padding: 20px;
                            margin-bottom: 0;
                        }
                    }
                    .answer-wrapper{
                        display: none;
                        .answer{
                            font-size: 16px;
                            color: #5c5c5c;
                            padding: 16px;
                            padding-left: 52px;
                            padding-bottom: 32px;
                            background-color: #fff;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
    


    .py-60 {
      }
      @media only screen and (max-width: 768px) {
        .py-60 {
          padding: 52px 0;
        }
      }
      @media only screen and (max-width: 768px) {
        h2 {
          font-size: 24px;
        }
      }
      @media only screen and (max-width: 768px) {
        .text-control-1 h2 {
          margin-bottom: 16px;
        }
      }
      @media only screen and (max-width: 768px) {
        .accordion {
          margin-bottom: 16px;
        }
      }
      .icon-expend {
        transform: rotateX(180deg);
        transition: transform 0.75s ease-in-out;
      }
      .active,
      .accordion:hover .question-wrapper {
        background-color: #ebebeb;
      }
      .active p,
      .accordion:hover .question-wrapper p {
        color: #3d3d3d;
      }
      @media only screen and (min-width: 768px) {
        .container {
          max-width: 768px;
        }
      }
      @media only screen and (min-width: 992px) {
        .container {
          max-width: 1144px;
        }
      }
      
} 