section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot_password_main_section, .profile_page {
    height: calc(100vh - 164px);
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.panel-default {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px #748eff;
    width: 500px;
}
@media (max-width: 767px) {
    .panel-default {
        width: auto;
        max-width: 500px;
    }
}